.carousel-inner>.item>img {
margin:0 auto;

}
.carousel-control{  
    /*font-size: 100px;  */
      
} 
.footer {
background-color:#f1f1f1;
}
.mar-top {
margin-top:30px;
}
.padding30 {
padding:30px;
}
.cata-bg {
background-position:top center;
background-repeat:no-repeat;
background-size:100%;
height:250px;
}
nav.navbar {
margin-bottom:0;
}
nav.navbar a {
font-size:16px;
font-weight:bold;
}
ul.list-group li span.time {
position:absolute;
top:30%;
right:40px;
}

.navbar-header .navbar-brand {
padding:0;
margin:0 50px 0 0;
}
.navbar-header .navbar-brand .logo {
    width: 108px;
    position: relative;
    top: -15px;
}
.brand-ico {
padding:0 5%;
}
img.code {

width:auto;
height:145px;
}
ul li.dropdown:hover ul.dropdown-menu {
display:block;
}
.cata-list-box {
background-color:#f1f1f1;
/*padding:15px 0;
margin:0 0 40px 0;*/
position:relative;
top:-55px;
opacity:0.9;

}
.cata-list-box ul.nav a {
font-weight:bold;
font-size:16px;
}
ul.list {
list-style-type:none;
padding:0;
}
ul.list li {
line-height:25px;
position:relative;

}
ul.list li .time {
position: absolute;
right:10px;
top:0;
}
.thumbnail p.view-box {
height:35px;
}
.thumbnail p.view-box .btn {
display:none;

}
.thumbnail:hover p.view-box .btn {
display:inline-block;
}
div.thumbnail img {
height:170px;
}

#showArea img{width:700px;}  
  
a{text-decoration:none;border:0px;}  
#scrollDiv{border:#ccc 1px solid;}  
 
#scrollDiv ul,#scrollDiv li {
margin:0;
padding:0;
list-style-type:none;
}
#scrollDiv li{
line-height:90px;
} 

#scrollDiv li a img {
width:100%;
}
.pic-box {
	width:750px;
	margin:0 auto;
}
.article img {
	display:inline-block;

margin:10px auto;

}
.back-box {
position:fixed;
width:50px;
height:120px;
bottom:80px;
right:50px;
}
table img.brand-ico {
width:90px;
}
.back-box>a {
display:block;
background-color:#f1f1f1;
margin:10px 0;
padding:10px 0;

}
.back-box>a:hover {
background-color:#ccc;
}
.back-to-top {


}
