body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}
body{
	font-size:13px;color:#333;
       	background-color:#ececec;
font-family: 微软雅黑,Verdana,Arial,Helvetica,sans-serif;


}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0}
.clearboth{ clear:both;}
ul,ol{list-style:none}
fieldset,img{border:0}

a{ text-decoration: none;color:#555;}
a:hover {color:#c00; text-decoration:none;}

.header {
width:100%;
background-color:#ECECEC;
height:95px;
background-image:url(../images/top_01.jpg);
background-repeat:repeat-x;
}

.center_1000 {

position:relative;
width:1000px;
background-color:#fff;
margin:0 auto;
color:#555;

}
.container {
padding:25px 25px 10px;

}
.mar {
margin:10px auto;
}
.center_1000 .logo {
position: absolute;

top:10px;
left:10px;

}
.center_1000 .fl_400 {
float:left;
width:400px;

}
.center_1000 .fr_500 {
float:right;
width:550px;

}
h3.cata_title {
position:relative ;
font-weight:bold;
font-size:14px;
padding:10px 5px;
color:#333;
border-bottom:1px solid #ccc;
}
h3.cata_title .more {
position: absolute;
font-weight:normal;
right:10px;
font-size:12px;
color:#555;
}

h3.cata_title .small {
font-size:12px;
font-weight:normal;
color:#555;
}
.news_list li {
padding-left:10px;
background-image:url(../images/sanjiao.jpg);
background-position:center left;
border-bottom:1px solid #eee;
background-repeat:no-repeat;
height:35px;
line-height:35px;
position:relative;

}
.news_list li .time {
position: absolute;
right:10px;
color:#666;
}
.news_list li a {
color:#666;
}

.height_400 {
height:300px;
overflow:hidden;
}

.footer {

background-color:#6c6c6c;
width:100%;
height:80px;
padding:10px 0;
}
.footer .con {
background-color:#6c6c6c;
}
.ulinks {
margin-top:10px;
}
.ulinks li {
float:left;
color:#fff;
height:25px; 
line-height:25px
}
.ulinks li a {
color:#fff;
}
p.info {
color:#fff;
}
.sele_links {
float:left;
margin:0;
padding:0;

vertical-align:middle
}
.sele_links a { 
color:#fff;
}
.partner {

padding:15px 25px;
margin-bottom:20px;
}
.partner li {
float:left;
}
.partner li a {

}
.nav_list {
position: absolute;
right:10px;
width:645px;

}
.nav_list>li {
position:relative;
float:left;
height:95px;
line-height:95px;
width:90px;
text-align:center;
border-right:1px solid #e0e0e0;
}
.nav_list>li:hover {
background-image:url(../images/top_03.jpg);

}
.nav_list>li:hover>a {
color:#fff;
}

.nav_list li a {
	display:block;
font-size:14px;
font-weight:bold;
}
.nav_list li .sub_nav_ul {
	display:none;
position:absolute;
z-index:10000;

top:95px;
left:-20px;

background-color:#fff;
padding:10px 10px 20px 10px;
}
 .sub_nav_ul li {
height:50px;
line-height:50px;
width:110px;
margin:0 auto;
border-bottom:1px solid #eee;
overflow:hidden;

}
.lh {
line-height:25px;

}
 .sub_nav_ul li a {
font-size:12px;
font-weight:normal;
}
.list_title {
padding:20px 0 20px 25px;
border-bottom:1px solid #eee;
font-size:18px;

color:#333;
background-image:url(../images/news_05.jpg);
background-position:center left;
background-repeat:no-repeat;
}
.article_list {
margin:10px 0;

}
.article_list li {

height:35px;
line-height:35px;
position:relative;

}
.article_list li a {
background-image:url(../images/icon.png);
background-position:left center;
background-repeat:no-repeat;
padding-left:20px;
margin-left:20px;
float:left;
display:block;
}
.article_list li:hover {
background-color:#ccc;
opacity:0.8;
}

.container .fl_680 {
float:left;
width:680px;
}
.container .fr_300 {
float:right;
width:215px;

}
li span.time_r {
position: absolute;
right: 10px;

}
.slide_cata li {

    background: url("../images/nav.jpg") no-repeat;
    color: #666;
    display: block;
    font-size: 14px;
    height: 43px;
    line-height: 43px;
  
}
.slide_cata li a {
display:block;
padding-left: 50px;

}

.slide_cata li a:hover {
background:#337ACA;
color:#fff;
}
.slide_title {

    background: url("../images/rtit.jpg") no-repeat ;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 73px;
    line-height: 73px;
    overflow: hidden;
    padding-left: 56px;

}
.video #jp_container_1 {
width:400px;
border:none;
overflow:hidden;
}
.jp-details {
display:none;
}
.jp-video-play {
display:none;
height:0;
overflow:hidden;
}

.cata_pic {
height:300px;
width:100%;
background-position:top center;
background-repeat:no-repeat;

}
.page2 {
line-height:30px;

}
.article_c {
line-height:30px;

}
.search_box {
background-image:url(../images/mainNewsSearchBg.png);
background-repeat:no-repeat;
height:135px;
}
.fr_300 .search_title {
font-size:14px;
padding:10px 0 10px 30px;
margin:20px 0 10px 0;
}
#SearchForm .search_input {
   background: none repeat scroll 0 0 #f1f1f2;
    border: 1px solid #e5e5e5;
    color: #555a60;
    font: 12px/26px "微软雅黑";
    height: 26px;
    margin:5px 0 5px 20px;
    padding-left: 10px;
    width: 166px;

}

input.btn {
display:block;
margin:5px 0 0 20px;
padding:5px 0;
border:1px solid #ccc;
background-image:url(../images/input01.jpg);
color:#fff;
width:75px;
cursor:pointer;
}
.news_thumb_box {
margin:20px 0;
border-bottom:1px solid #ccc;
padding:0px 0 20px 0;
}
.news_thumb_box .thumb_title {
padding:0px 0 10px 0;
border-bottom:1px solid #ccc;
font-size:16px;
font-weight:bold;
position:relative;

}
.news_thumb_box .thumb_title .time {
font-size:12px;
font-weight:normal;
position: absolute;
right:10px;
}
.news_thumb_box .news_thumb {
display:block;
float:left;
padding:10px;
border:1px solid #ddd;
}
.news_thumb_box .fr_460 {
width:460px;
float:right;
}
.news_thumb_box .info {
color:#555;
height:75px;
line-height:25px;
text-indent:2em;
overflow:hidden;

}
.news_thumb_box .deail_btn {
float:right;
background-image:url(../images/news_10.jpg);
background-position:center left;
background-repeat:no-repeat;
padding:0 25px;
}
.job_table {
border-collapse:collapse;
width:100%;
border:1px solid #ccc;
margin:10px 0 20px;
}
.job_table tr {
margin:0 0 10px 0;
}
.job_table th,  .job_table td {
font-weight:normal;
text-align:left;
line-height:30px;
height:30px;
padding-left:20px;
font-size:14px;


}
.job_table th {
background-color:#3385FF;
border:1px solid #ccc;
color:#fff;
}
.job_table td {
	border-top:5px solid #fff;
background-color:#EAF3FC;

}
.apply_btn {

display:block;
background-color:#3385FF;
padding:10px 15px;
color:#fff;
width:100px;
text-align:center;
}

.jobapplyTab {
    margin: 33px auto 0;
    width: 774px;
}
.jobapplyTab h2 {
    border-bottom: 1px solid #e6e5e5;
    font-weight:bold;
    color: #7d191a;
    margin-bottom: 25px;
    padding:0 0 10px 50px;
}
.jobapplyTab table {
    margin: 0 auto;
}
.jobapplyTab td {
    color: #666;
    line-height: 28px;
    padding: 0 0 18px 18px;
}
.jobapplyTab td input {
    border: 1px solid #e0e0e0;
    color: #666;
    height: 26px;
    padding-left: 3px;
    margin-right:10px;
    width: 176px;
}
.jobapplyTab td input.radio {
    border: 0 none;
    cursor: pointer;
    display: inline;
    height: 13px;
    margin: 8px 18px 0 0;
    padding: 0;
    width: 13px;
}
.jobapplyTab td input.long {
    width: 490px;
}
.jobapplyTab td input.file {
    width: 246px;
}
.jobapplyTab td input.submit {
  background-color:#1A3288;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 42px;
    padding: 0 0 4px;
    width: 110px;
}

.jobapplyTab td select {
    border: 1px solid #e0e0e0;
    color: #666;
    height: 28px;
    width: 181px;
}
.jobapplyTab td textarea {
    background: none repeat scroll 0 0 #f5f2f2;
    border: 1px solid #e0e0e0;
    color: #666;
    height: 134px;
    padding: 3px;
    width: 466px;
}
.jobapplyLine {
    background: none repeat scroll 0 0 #e6e5e5;
    height: 1px;
    margin-bottom: 45px;
    width: 100%;
}
.jobinfoTitle {
    background: none repeat scroll 0 0 #e9e9e9;
    color: #666;
    height: 38px;
    margin-bottom: 20px;
    text-indent: 22px;
    width: 100%;
}
.jobinfoTable {
    width: 100%;
}
.jobinfoTable table {
  width:100%;

    border-collapse: collapse;
    margin: 10px 0 20px;  
}
.jobinfoTable td {
    border: 1px solid #dfdfdf;
    color: #666;
    padding:10px 8px;
}
.jobinfoTable td.textc {
    padding-left: 0;
    text-align: center;
}
.jobinfoBox {
    padding: 33px;
    width: 860px;
}
.jobinfoBox h2, .jobinfoBox p {
    color: #666;
}
.jobDetail {
    margin-bottom: 25px;
}
.jobinfoTable .botton {
    height: 42px;
    margin: 34px auto 0;
    width: 100%;
}
.jobinfoTable .botton input {
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline;
    float: left;
    height: 42px;
    margin-right: 10px;
    padding-bottom: 4px;
    width: 110px;
}
.jobinfoTable .botton a {
    color: #fff;
    display: inline-block;
    float: left;
    height: 42px;
    text-align: center;
    width: 110px;
}
.search_title {
font-size:14px;
padding:10px;

}

.cata_info {
line-height:25px;
text-indent:2em;

}
#ele_animate {
margin-top:10px;
}
#ele_animate .ele_li {
position:relative;
width:130px;
height:80px;
padding-top:20px;
float:left;
text-align:center;
border:1px solid #fff;
background-color:#eee;
}
#ele_animate .ele_li .cover {
display:block;
position: absolute;
top:0;
left:0;
width:130px;
height:80px;
padding-top:20px;
background-color:#1FA3D6;
display:none;
}
.copyright {
color:#fff;
margin:15px 0;
}
.copyright a {
color:#fff;
}
.page {
padding:15px;
}
.page a {
margin:2px;
line-height:25px;
padding:5px;
border:1px solid #ddd;
}
.page a:hover {
background-color:#ccc;
color:#333;
}
.page span.current {
font-weight:bold;
margin:0 5px;
}
.nav_page {
padding:15px 0;

}
.nav_page dt {
    float: left;
}

.nav_page  dt a {
    background: url("../images/nav_li.png") no-repeat;
    color: #656b74;
    display: block;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 118px;
}
.nav_page  dt a:hover {

    background: url("../images/nav_li_over.png") no-repeat;
    color:#fff;
}
.article_list_pic li {
float:left;
margin:5px;
width:205px;
height:195px;
overflow:hidden;
}
.article_list_pic li img {
display:block;
padding:10px;
border:1px solid #ddd;
}

.article_list_pic li a {

line-height:25px;

display:block;
text-align:center;
}
.thumb_list li {

margin:10px;
padding:10px 0;
border-bottom:1px solid #ddd;
}
.thumb_list li .fr_460 {
float:right;
padding-top:15px;
width:460px;

}
